*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Yeseva One', cursive;
}
/* ......................................Main Menu Start....................................... */
 .navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-left: 40px;
    font-family: 'Gentium Book Basic', serif;
    font-weight: 700;
    font-size: 18px;
} 
.navbar{
    background: rgb(73, 71, 71);
}
/* .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    width: 60px;
    height: 2px;
} */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #DAB33E;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #DAB33E;
}
.menu_icon {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu_icon li{
    display: inline-block;
    margin-right: 20px;
}
.menu_icon li a{
    text-decoration: 0;
    color: #DAB33E;
    font-size: 20px;
    transition: 0.3s;
}
.menu_icon li a:hover{
    color: #fff;
}
/* ......................................Main Menu End....................................... */

/* .......................................Slider start......................................... */
.slider{
    background: url(img/slider.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 230px 0;
}
.slider_contant h1{
    font-size: 68px;
    color: #fff;
    margin-bottom: 110px;
    position: relative;
}
.slider_contant h1::after {
    content: url(img/slider_boder.png);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}
.btn{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    border: 1px solid #000;
    margin-right: 30px;
    border-radius: 0;
    transition: 0.3s;
}
.btn:hover{
    color: #CFBB78;
}
.btn_2{
    border: 1px solid #CFBB78;
    background: rgba(207, 187, 120, 0.5);
    transition: .3s;
}
.btn_2:hover{
    
    border: 1px solid #000;
    color: #fff;
}
/* .......................................Slider End......................................... */

/* .......................................about start........................................ */
.about_section{
    background: url(img/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 75px 0;
}
.about_right{
    position: relative;
    top: 35px;
}
.about_right h2{
    color: #CC9900;
}
.about_right h2::after{
    content: url(img/menu_border.png);
}
.about_right p{
    margin-bottom: 50px;
    color: #4c4c4c;
}
/* .......................................about End........................................ */

/* .......................................ingradient start.................................. */
.ingradient{
    background: url(img/ingradient+bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.ingradient_right{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 80px;
}
.ingradient_right h2{
    font-size: 36px;
}
.ingradient_right h2::after{
    content: url(img/review_border.png);
}
.ingradient_right p{
    font-size: 14px;
    margin-bottom: 65px;
}
.ingradient_img img{
    margin-right: 15px;
}
/* .......................................ingradient end.................................. */

/* ........................................menu item start................................... */
.menu_item{
    background: url(img/menu_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.menu_item_content{
    margin-right: 50px;
    margin-bottom: 50px;
}
.item_head h2{
    color: #CC9900;
    font-size: 36px;
    position: relative;
}
.item_head h2::after {
    content: url(img/menu_border.png);
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}
.item_head {
    margin-bottom: 60px;
}
.item_section{
    margin-bottom: 35px;
}
.item_section hr{
    color: #CC9900;
    margin: 0;
}
.item_section p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #4c4c4c;
    margin-top: 15px;
}
.item h3{
    font-size: 21px;
    color: #CC9900;
}
.item_prize h3{
    text-align: right;
    font-size: 21px;
    color: #CC9900;
}
.item_2{
    border: 1px solid #CC9900;
    padding: 10px;
    position: relative;
}
.special{
    background-color: #D8BD71;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding: 5px 14px;
    position: absolute;
    top: -50px;
    right: -1px;
}
.menu_item_content:nth-child(2){
    background: red;
}
.menu_2{
    margin-right: 0;
}
.menu_4 {
    margin-top: -110px;
}
/* ........................................menu item end................................... */

/* .........................................review start.................................... */
.review{
    background: url(img/review_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.review_contant{
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 60px;
}
.review_contant h2{
    font-size: 36px;
}
.review_contant h2::after{
    content: url(img/review_border.png);
}
.text{

    position: relative;
}
.text p{
    font-size: 18px;
    font-family: 'Gentium Book Basic', serif;
}
.text_quate {
    position: absolute;
    top: -15px;
    left: -33px;
}
.text i{
    color: #9C9E9B;
    font-size: 35px;
}
/* .........................................review end.................................... */

/* ..........................................reservation start............................... */
.reservation{
    background: url(img/about_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.heading_contant h2{
    font-size: 36px;
    color: #CC9900;
}
.heading_contant h2::after{
    content: url(img/menu_border.png);
}
.heading_contant p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 0 55px 22px 55px;
}
.reservation_form form label{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #CC9900;
    font-weight: 700;
}
.reservation_form form{
    margin: 0 50px;
}
.reservation_form form input{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    width: 200px;
    height: 35px;
    padding-left: 15px;
    margin-bottom: 25px;
    border: 1px solid #C8C6C6;
    transition: 0.3s;
}
.reservation_form form input:hover{
    border: 1px solid #CC9900;
}
.reserv_btn{
    padding: 15px 60px;
    width: 250px;
    font-size: 18px;
    display: inline-block;
    background: #C9A131;
    color: #fff;
    border: none;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid transparent;
    transition: 0.3s;
}
.reserv_btn:hover{
    color: #CC9900;
    background: none;
    border: 2px solid #CC9900;
}
/* ..........................................reservation end............................... */

/* .........................................footer start................................... */
.footer{
    background: #191919;
    color: #fff;
    padding: 60px 0;
}
.footer_contant h3{
    font-size: 21px;
    position: relative;
    margin-bottom: 30px;
}
.footer_contant h3::after{
    content: url(img/footer-border.png);
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%);
}
.content{
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.footer_social_icon a {
     text-decoration: none;
     color: #fff;
     margin-right: 15px;
     transition: 0.3s;
}
.footer_social_icon a:hover{
    color: #CC9900;
}
/* .........................................footer end................................... */



/* font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
 */